/* landingPage specific styling */

.landing-page-container {
  min-height: 100vh;
  background: linear-gradient(135deg, var(--primary-bg-start), var(--primary-bg-center), var(--primary-bg-end));
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
  position: relative;
  gap: 50px;
  margin-bottom: 50px;
}

.hero-content {
  flex: 1;
  min-width: 320px;
  max-width: 500px;
  position: relative;
  padding: 0 10px;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.2);
}


.hero-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.hero-butterfly {
  position: relative;
  left: -150px;
  width: 700px;
  height: auto;
  opacity: 0.9;
  transform: rotate(0deg);
  z-index: 0;
  filter: drop-shadow(0 0 25px rgba(106, 0, 255, 0.8)) blur(1px);
}

.get-started-btn {
  padding: 14px 35px;
  border: none;
  border-radius: 30px;
  font-size: 1.15rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.get-started-btn.primary {
  background-color: var(--button-primary-bg);
  color: var(--text-color-light);
}

.get-started-btn.primary:hover {
  background-color: var(--button-primary-hover);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    gap: 50px;
    padding-top: 30px;
  }
  .hero-content {
    max-width: 80%;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-butterfly {
    position: relative;
    left: auto;
    margin-bottom: 20px;
    transform: none;
    width: 300px;
    filter: drop-shadow(0 0 15px rgba(106, 0, 255, 0.7)) blur(0.5px);
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .landing-page-container {
    padding: 0 10px;
  }
}

@media (max-width: 580px) {
  .hero-content h1 {
    font-size: 2rem;
  }
  .get-started-btn {
    width: 100%;
    max-width: 250px;
  }
}
